@use "../../App";

body,
html {
  overflow-x: hidden;
}

body {
  @include App.body;
}

.container {
  display: flex;
  flex-direction: column;
  // margin-top: 20px;
  margin-bottom: 15px;
}

.specifics {
  display: flex;
  flex-direction: column;
  div {
    margin-bottom: 5px;
  }
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: space-between;
}

.bold {
  @include App.BoldText;
}
