.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  margin-right: 10px;
}

.iconsMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  max-width: 30%;
  text-align: center;
}

.icons div {
  flex-wrap: wrap;
  text-align: center;
  margin-top: 5px;
}
