.draggableHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.draggableTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

div {
  font-family: Avenir;
  font-family: sans-serif;
  font-style: normal;
}
