.container {
  height: 100%;
  /* background-color: pink; */
  padding: 17rem;
  overflow-y: auto;
  overflow-x: auto;
}

.pic {
  height: 100%;
}

.lol {
  cursor: pointer;
}

.lol:hver {
  background-color: pink;
}
