.container {
  margin: 0px 40px 25px 40px;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 10px;
}

.headerMobile {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.message {
  margin-bottom: 25px;
}
